/*

Known Template 

https://templatemo.com/tm-516-known

*/

  @import url('https://fonts.googleapis.com/css?family=Muli:300,700|Nunito');

  body {
    background: #ffffff;
    font-family: 'Nunito', sans-serif;
    overflow-x: hidden;
    padding-top: 70px;
  }


  /*---------------------------------------
     TYPOGRAPHY              
  -----------------------------------------*/

  h1,h2,h3,h4,h5,h6 {
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    line-height: inherit;
  }

  h1 {
    color: #252525;
    font-size: 3em;
    line-height: normal;
  }

  h2 {
    color: #353535;
    font-size: 2em;
    padding-bottom: 10px;
  }

  h3 {
    font-size: 1.5em;
    margin-bottom: 0;
  }

  h3,
  h3 a {
    color: #454545;
  }

  p {
    color: #757575;
    font-size: 14px;
    font-weight: normal;
    line-height: 24px;
  }



  /*---------------------------------------
     GENERAL               
  -----------------------------------------*/

  html{
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #252525;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    text-decoration: none !important;
  }

  a,
  input, button,
  .form-control {
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover, a:active, a:focus {
    color: #7AC678;
    outline: none;
  }

  ::-webkit-scrollbar{
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-thumb {
    cursor: pointer;
    background: #000000;
  }

  .section-title {
    padding-bottom: 40px;
  }

  .section-title h2 {
    margin: 0;
  }

  .section-title small {
    display: block;
  }

  .overlay {
    background: rgba(20,20,20,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .entry-form {
    background: #252020;
    border-radius: 100%;
    text-align: center;
    padding: 6em;
    width: 450px;
    height: 450px;
  }

  .entry-form h2 {
    color: #ffffff;
    margin: 0;
  }

  .entry-form .form-control {
    background: transparent;
    border: 0;
    border-bottom: 1px solid;
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    margin: 10px 0;
  }

  .entry-form .submit-btn {
    background: #ffffff;
    border-radius: 50px;
    border: 0;
    color: #252020;
    width: 50%;
    height: 50px;
    margin: 30px auto;
    margin-bottom: 10px;
  }

  .entry-form .submit-btn:hover {
    background: #3f51b5;
    color: #ffffff;
  }

  section {
    position: relative;
    padding: 100px 0;
  }

  #team,
  #about {
    padding: 15px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  #team,
  #arrival_section{
    background: #f7f7f7;
    padding: 15px;
    margin-bottom: 30px;
  }

  #team,
  #courses {
    background: #def0dd;
    margin-left: 30px;
    margin-right: 30px;
  }

  #team, 
  #testimonial {
    text-align: center;
  }
  #team,
  #testimonial {
    background: #ffffff;
  }

  #team, 
  #testimonial {
    text-align: center;
  }
  
  #google-map iframe {
    border: 0;
    width: 100%;
    height: 390px;
  }



  /*---------------------------------------
     BUTTONS               
  -----------------------------------------*/

  .section-btn {
    background: transparent;
    border-radius: 50px;
    border: 1px solid #ffffff;
    color: #ffffff;
    font-size: inherit;
    font-weight: normal;
    padding: 15px 30px;
    transition: 0.5s;
  }

  .section-btn:hover {
    background: #ffffff;
    border-color: transparent;
  }



  /*---------------------------------------
       PRE LOADER              
  -----------------------------------------*/

  .preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #ffffff;
  }

  .spinner {
    border: 1px solid transparent;
    border-radius: 3px;
    position: relative;
  }

  .spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 45px;
    height: 45px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 1px solid #575757;
    border-top-color: #ffffff;
    animation: spinner .9s linear infinite;
  }

  @-webkit-@keyframes spinner {
    to {transform: rotate(360deg);}
  }

  @keyframes spinner {
    to {transform: rotate(360deg);}
  }



  /*---------------------------------------
      MENU              
  -----------------------------------------*/
  .custom_nav-container .navbar-nav {
    padding-top: 15px;
    align-items: center;
  }
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 25px;
    margin: 5px 0;
  }
  .custom-navbar {
    background: #ffffff;
    border-top: 5px solid #7AC678;
    border-bottom: 0;
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
    margin-bottom: 0;
    padding: 0;
  }

  .custom-navbar .navbar-brand {
    color: #454545;
    font-size: 18px;
    font-weight: bold;
    line-height: 40px;
  }

  .custom-navbar .navbar-nav.navbar-nav-first {
    margin-left: 8em;
  }

  .custom-navbar .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
  }

  .custom-navbar .navbar-nav.navbar-right li a .fa {
    background: #7AC678;
    border-radius: 100%;
    color: #ffffff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-right: 5px;
  }

  .custom-navbar .nav li a {
    line-height: 40px;
    color: #575757;
    padding-right: 22px;
    padding-left: 22px;
  }

  .custom-navbar .navbar-nav > li > a:hover,
  .custom-navbar .navbar-nav > li > a:focus {
    background-color: transparent;
  }

  .custom-navbar .nav li a:hover {
    background-color: #7AC678;
    color: #ffffff;
  }

  .custom-navbar .nav li.active > a {
    background-color: #7AC678;
    color: #ffffff;
  }

  .custom-navbar .navbar-toggle {
    border: none;
    padding-top: 10px;
  }

  .custom-navbar .navbar-toggle {
    background-color: transparent;
  }

  .custom-navbar .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
  }



  /*---------------------------------------
      HOME  & SLIDER            
  -----------------------------------------*/

  #home {
    padding: 0;
  }

  #home h1 {
    color: #ffffff;
  }

  #home h3 {
    color: #f9f9f9;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 5px 0 40px 0;
  }

  @media (min-width: 768px) {
    .home-slider .col-md-6 {
      padding-left: 0;
    }
  }

  .home-slider .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #fff;
    cursor: e-resize;
  }

  .home-slider .item {
    background-repeat: no-repeat;
    background-attachment: local;
    background-size: cover;
    height: 650px;
  }
  
  .caption h3 a { color: #FFF; }
  .caption h3 a:hover { color: #FF3; }

  .home-slider .item-first {
    background-image: url(../images/slider-image8.jpg);
	background-position: center;
  }

  .home-slider .item-second {
    background-image: url(../images/slider-image6.jpg);
  }

  .home-slider .item-third {
    background-image: url(../images/slider-image7.jpg);
  }



  /*---------------------------------------
      FEATURE              
  -----------------------------------------*/

  .feature-thumb {
    border: 1px solid #f0f0f0;
    padding: 5em 3em;
  }

  .feature-thumb span {
    background: #3f51b5;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    margin-bottom: 5px;
  }

  .feature-thumb h3 {
    margin: 10px 0;
  }



  /*---------------------------------------
      ABOUT              
  -----------------------------------------*/
  #about .info{
    margin-bottom: 15px;
  }
  #about .justify-content-center{
    text-align: center;
  }
  #about .media
    {
        padding: 15px;
    }
  #about .media .fa
      {
          color: #7AC678;
          font-size: 40px;
          margin-right: 20px;
      }
  #about .media .media-heading
      {
          border-bottom: 2px solid #feb000;
          font-weight: 600;
          font-size: 20px;
          padding-bottom: 10px;
      }

  #about figure {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
  }

  #about figure span {
    float: left;
    margin-left: -15px;
    padding: 15px 20px;
    position: relative;
    top: 20px;
  }

  #about figure span i {
    background: #7AC678;
    border-radius: 50px;
    color: #ffffff;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }


  /*---------------------------------------
      CATEGORIES              
  -----------------------------------------*/

  /* .rounded-circle {
      border-radius: 50% !important;
      text-align: center;
  }
  .shadow {
      box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
  }
  img, svg {
      vertical-align: middle;
  } */
  /* .arrival_section {
    background: linear-gradient(to left, #A78758, #C99850);
    color: white;
    height: 470px;
    margin-bottom: 1opx;
  } */
  .arrival_section .heading_container {
    color: #ffffff;
    margin-bottom: 10px;
  }

  .arrival_section .box {
      position: relative;
  }

  .arrival_section .arrival_bg_box {
      position: absolute;
      float: right;
      width: 60%;
      height: auto;
      z-index: 3;
  }

  .arrival_section .arrival_bg_box img {
      width: 50%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      -o-object-position: top right;
      object-position: top right;
  }

  .arrival_section a {
      display: inline-block;
      padding: 10px 45px;
      background-color: #FBB667;
      border: 1px solid #FBB667;
      color: #ffffff;
      border-radius: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }

  .arrival_section a:hover {
      background-color: transparent;
      color: #FBB667;
  }

  /*---------------------------------------
      TEAM              
  -----------------------------------------*/

  .team-thumb {
    background: #ffffff;
    position: relative;
    overflow: hidden;
    text-align: left;
  }

  .team-info {
    padding: 20px 30px;
  }

  .team-image img {
    width: 100%;
  }

  .team-thumb .social-icon {
    border-top: 1px solid #f0f0f0;
    padding: 4px 20px 0 20px;
  }

  .team-thumb .social-icon li a {
    background: #ffffff;
    color: #252020;
  }

  .team-info h3 {
    margin: 0;
  }


  /*---------------------------------------
      COURSES             
  -----------------------------------------*/

  #courses .section-title {
    text-align: center;
  }

  #courses .owl-theme .owl-nav {
    margin-top: 30px;
  }

  #courses .owl-theme .owl-nav [class*=owl-] {
    border-radius: 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }

  .courses-thumb {
    background: #f9f9f9;
    position: relative;
  }

  .courses-top {
    position: relative;
  }

  .courses-image {
    background: linear-gradient(to right, #202020, #101010);
  }

  .courses-date {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
  }

  .courses-date span,
  .courses-author span {
    font-size: 14px;
    font-weight: bold;
  }

  .courses-date span {
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
  }

  .courses-detail {
    padding: 25px 25px 15px 25px;
  }

  .courses-detail h3 {
    margin: 0 0 2px 0;
  }

  .courses-info {
    border-top: 1px solid #f0f0f0;
    position: relative;
    clear: both;
    padding: 15px 25px;
  }

  .courses-author,
  .courses-author span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .courses-author img {
    display: inline-block !important;
    border-radius: 50px;
    width: 50px !important;
    height: 50px;
    margin-right: 10px;
  }

  .courses-price {
    float: right;
    /* margin-top: 3px; */
  }

  .courses-price span {
    background: #7AC678;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
  }

  .courses-price.free span {
    background: #3f51b5;
  }

  #courses .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
  }

  #courses .btn-box a {
      display: inline-block;
      padding: 10px 40px;
      background-color: #FBB667;
      border: 1px solid #FBB667;
      color: #ffffff;
      border-radius: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }

  #courses .btn-box a:hover {
      background-color: transparent;
      color: #FBB667;
  }

  /*---------------------------------------
     NEWS              
  -----------------------------------------*/

  .news-thumb {
    clear: both;
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
  }

  .news-thumb .news-image {
    float: left;
    width: 40%;
    margin-right: 30px;
  }

  .news-info h3 {
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .news-date span {
    color: #909090;
    font-weight: bold;
  }



  /*---------------------------------------
      TESTIMONIAL             
  -----------------------------------------*/

  #testimonial .item {
    background: #e2e2e2;
    margin: 20px 0;
    padding: 4em 3em;
    text-align: left;
  }

  #courses .col-md-4,
  #testimonial .col-md-4 {
    display: block;
    width: 100%;
  }

  #testimonial .item > p {
    font-size: 16px;
    line-height: 26px;
  }

  .tst-rating {
    margin-bottom: 15px;
  }

  .tst-rating .fa {
    color: #3f51b5;
  }

  .tst-image,
  .tst-author {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 20px;
    text-align: left;
  }

  .tst-image img {
    border-radius: 50px;
    width: 60px !important;
    height: 60px;
    margin-right: 15px;
  }

  .tst-author h4 {
    margin: 0;
  }

  .tst-author span {
    color: #808080;
    font-size: 14px;
  }



  /*---------------------------------------
      CONTACT             
  -----------------------------------------*/

  #contact {
    background: #3f51b5;
  }

  #contact h2 {
    color: #ffffff;
  }

  #contact .section-title {
    padding-bottom: 20px;
  }

  #contact h2 > small,
  #contact p,
  #contact a {
    color: #f9f9f9;
  }

  #contact-form {
    padding: 1em 0;
  }

  #contact-form .col-md-12,
  #contact-form .col-md-4 {
    padding-left: 0;
  }

  #contact-form .form-control {
    border: 0;
    border-radius: 5px;
    box-shadow: none;
    margin: 10px 0;
  }

  #contact-form input {
    height: 50px;
  }

  #contact-form input[type='submit'] {
    border-radius: 50px;
    border: 1px solid transparent;
  }

  #contact-form input[type='submit']:hover {
    background: transparent;
    border-color: #ffffff;
    color: #ffffff;
  }
  



  /*---------------------------------------
     FOOTER              
  -----------------------------------------*/

/* footer */
    body{margin-top:20px;}
    .deneb_footer .widget_wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 200px;
        padding-bottom: 70px;
    }
    @media (max-width: 363px) {
        .deneb_footer .widget_wrapper .widget {
            margin-bottom: 20px;
        }
    }
    .deneb_footer .widget_wrapper .widget .widget_title {
        margin-bottom: 30px;
    }
    .deneb_footer .widget_wrapper .widget .widget_title h4 {
        font-weight: bold;
    }
    .deneb_footer .widget_wrapper .widget .widget_title h4:after {
        content: "";
        display: block;
        background: url(../images/shape/line.png) no-repeat;
        max-width: 38px;
        height: 2px;
        margin-top: 5px;
    }
    .deneb_footer .widget_wrapper .widegt_about p {
        margin-top: 10px;
        margin-bottom: 15px;
        margin-left: 7px;
    }
    .deneb_footer .widget_wrapper .widegt_about .social li {
        display: inline-block;
        margin-right: 10px;
    }
    .deneb_footer .widget_wrapper .widegt_about .social li a {
        display: block;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        background-color: #f9e6d4;
        color: #fba543;
        font-size: 14px;
        -webkit-transition: all all 0.5s ease-out 0s;
        -moz-transition: all all 0.5s ease-out 0s;
        -ms-transition: all all 0.5s ease-out 0s;
        -o-transition: all all 0.5s ease-out 0s;
        transition: all all 0.5s ease-out 0s;
    }
    .deneb_footer .widget_wrapper .widegt_about .social li a:hover,
    .deneb_footer .widget_wrapper .widegt_about .social li a:focus {
        background-image: -moz-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
        background-image: -webkit-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
        background-image: -ms-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
        color: #fff;
        box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
    }
    .deneb_footer .widget_wrapper .widget_link ul li {
        margin-bottom: 5px;
    }
    .deneb_footer .widget_wrapper .widget_link ul li a {
        text-transform: capitalize;
        color: #7a808d;
    }
    .deneb_footer .widget_wrapper .widget_link ul li a:hover,
    .deneb_footer .widget_wrapper .widget_link ul li a:focus {
        color: #feb000;
    }
    .deneb_footer .widget_wrapper .widget_contact .contact_info .single_info {
        max-width: 250px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .icon {
        font-size: 12px;
        color: #feb000;
        margin-right: 10px;
    }
    .deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p a {
        color: #7a808d;
    }
    .deneb_footer .widget_wrapper .widget_contact .contact_info .single_info .info p span {
        display: block;
    }

    .deneb_footer .copyright_area {
        background: #7AC678;
        padding: 10px 0;
    }
    .deneb_footer .copyright_area .copyright_text {
        text-align: center;
    }
    .deneb_footer .copyright_area .copyright_text p {
        color: #ffffff;
    }
    .deneb_footer .copyright_area .copyright_text p span {
        color: #feb000;
    }
    .deneb_cta .cta_wrapper {
        padding: 45px 50px 42px;
        max-width: 970px;
        border-radius: 15px;
        margin: auto;
        margin-bottom: -135px;
        position: relative;
        background-image: -moz-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
        background-image: -webkit-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
        background-image: -ms-linear-gradient(0deg, #ffbd27 0%, #feb000 100%);
        box-shadow: 2.5px 4.33px 15px 0px rgba(254, 176, 0, 0.4);
        z-index: 1;
    }
    .deneb_cta .cta_wrapper:after {
        content: "";
        background: url(../images/shape/cta_shape.png) no-repeat;
        background-position: bottom;
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }
    .deneb_cta .cta_wrapper .cta_content h3 {
        color: #fff;
        font-weight: bold;
    }
    @media (max-width: 767px) {
        .deneb_cta .cta_wrapper .cta_content h3 {
            font-size: 24px;
        }
    }
    .deneb_cta .cta_wrapper .cta_content h3:after {
        content: "";
        display: block;
        background: url(../images/shape/line_2.png) no-repeat;
        max-width: 110px;
        height: 2px;
        margin-top: 13px;
        margin-bottom: 24px;
    }
    .deneb_cta .cta_wrapper .cta_content p {
        color: #fff;
    }
    .deneb_cta .cta_wrapper .button_box {
        float: right;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        .deneb_cta .cta_wrapper .button_box {
            float: none;
            text-align: left;
            margin-top: 30px;
        }
    }
    @media (max-width: 767px) {
        .deneb_cta .cta_wrapper .button_box {
            float: none;
            text-align: center;
            margin-top: 30px;
        }
    }
    .deneb_cta .cta_wrapper .button_box .deneb_btn {
        background: #fff;
        color: #011a3e;
    }
    .deneb_cta .cta_wrapper .button_box .deneb_btn:hover,
    .deneb_cta .cta_wrapper .button_box .deneb_btn:focus {
        box-shadow: 2.5px 4.33px 15px 0px rgba(0, 0, 0, 0.15);
    }

/*  */
  /*---------------------------------------
     SOCIAL ICON              
  -----------------------------------------*/

  .social-icon {
    position: relative;
    padding: 0;
    margin: 0;
  }

  .social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
  }

  .social-icon li a {
    border-radius: 100px;
    color: #7AC678;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
    margin: 5px 5px 5px 0;
  }

  .social-icon li a:hover {
    background: #7AC678;
    color: #ffffff;
  }



  /*---------------------------------------
     RESPONSIVE STYLES              
  -----------------------------------------*/

  @media screen and (max-width: 1170px) {
    .custom-navbar .navbar-nav.navbar-nav-first {
      margin-left: inherit;
    }
  }

  @media only screen and (max-width: 992px) {
    section,
    footer {
      padding: 60px 0;
    }

    .home-slider .item {
      background-position: center center;
    }

    .feature-thumb,
    .about-info,
    .team-thumb,
    .footer-info {
      margin-bottom: 50px;
    }

    .contact-image {
      margin-top: 50px;
    }
  }


  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .custom-navbar .nav li a {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  @media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1,h2,h3 {
      line-height: normal;
    }

    .custom-navbar {
      background: #ffffff;
      -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      -moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
      padding: 10px 0;
      text-align: center;
    }

    .custom-navbar .navbar-brand,
    .custom-navbar .nav li a {
      line-height: normal;
    }

    .custom-navbar .nav li a {
      padding: 10px;
    }

    .custom-navbar .navbar-brand,
    .top-nav-collapse .navbar-brand {
      color: #252525;
      font-weight: 600;
    }

    .custom-navbar .nav li a,
    .top-nav-collapse .nav li a {
      color: #575757;
    }

    .custom-navbar .navbar-nav.navbar-right li {
      display: inline-block;
    }

    .footer-info {
      margin-right: 0;
    }

    .footer-info.newsletter-form {
      margin-bottom: 0;
    }

    .entry-form {
      display: block;
      margin: 0 auto;
    }
  }


  @media only screen and (max-width: 580px) {
    h2 {
      font-size: 1.8em;
    }

    #testimonial .item {
      padding: 2em;
    }

    .contact-image {
      margin-top: 0;
    }
  }

  @media only screen and (max-width: 480px) {
    h1 {
      font-size: 2em;
    }

    #home h3 {
      font-size: 14px;
    }

    .entry-form {
      border-radius: 0;
      padding: 2em;
      max-width: 100%;
      max-height: 100%;
      width: inherit;
      height: inherit;
    }
  }

/*---------------------------------------
     REGISTER           
-----------------------------------------*/
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.col-md-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}
.card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(252, 252, 252);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin-top: 100px;
  margin-bottom: 80px;
}

.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card>.list-group:first-child .list-group-item:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    border-spacing: 5px;
}
.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  font-weight: bold;
  text-align:center;
  font-size: 20px;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header+.list-group .list-group-item:first-child {
  border-top: 0;
}
.card-header-tabs {
  margin-right: -0.625rem;
  margin-bottom: -0.75rem;
  margin-left: -0.625rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.625rem;
  margin-left: -0.625rem;
}
.card-group>.card:not(:last-child) .card-img-top,
.card-group>.card:not(:last-child) .card-header {
  border-top-right-radius: 0;
}
.card-group>.card:not(:first-child) .card-img-top,
.card-group>.card:not(:first-child) .card-header {
  border-top-left-radius: 0;
}
.accordion>.card:not(:first-of-type) .card-header:first-child {
  border-radius: 0;
}
.accordion>.card .card-header {
  margin-bottom: -1px;
}
.btn {
  cursor: pointer;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 15px;
  padding: 10px 20px;
}

.btn:hover,
.btn:active,
.btn:focus {
  outline: none;
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}

.btn:focus,
.btn.focus {
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
}

.btn.btn-primary {
  background: #FBB667 !important;
  border: 1px solid #FBB667 !important;
  color: #fff !important;
}
.btn.btn-primary:hover {
  border: 1px solid #FBB667;
  background: transparent;
  color: #FBB667;
}

.btn.btn-primary.btn-outline-primary {
  border: 1px solid #FBB667;
  background: transparent;
  color: #FBB667;
}

.btn.btn-primary.btn-outline-primary:hover {
  border: 1px solid transparent;
  background: #FBB667;
  color: #fff;
}

/*---------------------------------------
     SEARCH WISATA          
-----------------------------------------*/
.searchbox {  
  float: left;  
  }  
  input[type=text] {  
  padding: 4px;  
  margin-top: 8px;  
  font-size: 15px;  
  border: none;  
  height:42px;
  }  
  .searchbox button {  
    
  padding: 4px;  
  margin-top: 10px;  
  margin-left: 10px;  
  background: #FBB667;  
  font-size: 20px;  
  border: none;  
  cursor: pointer;  
  }  
  .searchbox button:hover {  
  background: rgb(255, 255, 255);  
  }  
/*---------------------------------------
     CARD WISATA          
-----------------------------------------*/
.section-title2 {
  margin:auto;
}

.section-title2 h2 {
  margin: 0;
}

.section-title2 small {
  display: block;
}
/*---------------------------------------
  CATEGORY WISATA          
-----------------------------------------*/
.custom-select {
  /* position: relative; */
  font-family: Arial;
  /* margin-top: 80px;
  float: left; */
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: DodgerBlue;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #FBB667;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.button {
  background-color: #7AC678; 
  border: none;
  color: white;
  padding: 4px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  
  }


  .courses-price1 {
    float: right;
    /* margin-top: 3px; */
  }

  .courses-price1 span {
    background: red;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
  }

  .courses-price1.free span {
    background: red;
  }

  #courses1 .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 45px;
  }

  #courses1 .btn-box a {
      display: inline-block;
      padding: 10px 40px;
      background-color: #FBB667;
      border: 1px solid #FBB667;
      color: #ffffff;
      border-radius: 0;
      -webkit-transition: all 0.3s;
      transition: all 0.3s;
  }

  #courses1 .btn-box a:hover {
      background-color: transparent;
      color: #FBB667;
  }

/*---------------------------------------
  PAGINATION       
-----------------------------------------*/
  .pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
  }
  
  .page-link {
    position: relative;
    display: block;
    color: #0d6efd;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  @media (prefers-reduced-motion: reduce) {
    .page-link {
      transition: none;
    }
  }
  .page-link:hover {
    z-index: 2;
    color: #0a58ca;
    background-color: #e9ecef;
    border-color: #dee2e6;
  }
  .page-link:focus {
    z-index: 3;
    color: #0a58ca;
    background-color: #e9ecef;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
  }
  
  .page-item:not(:first-child) .page-link {
    margin-left: -1px;
  }
  .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
  }
  .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
  }
  
  .page-link {
    padding: 0.375rem 0.75rem;
  }
  
  .page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
  }
  
  .pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
  }
  .pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
  }
  .pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
  
  .pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
  }
  .pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
  }
  .pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
  